.control-icon.token-info-icon {
	width: fit-content;
	width: -moz-fit-content;
	min-width: 42px;
	flex-basis: auto;
	padding: 0 8px;
    margin: 8px 15px 8px 0;
}

#token-hud .attribute.elevation {
	width: 42px;
	flex: 0 0 42px;
}

.token-info-container {
	display: flex; 
	flex-direction: row; 
	justify-content: flex-end; 
	align-items:center; 
	margin-right: 75px;
	flex: 0 !important;
}

/* Overload roll result in chats. */

.dice-tooltip .dice-rolls .roll.d6 {
  background-image: none;
}

.dice-tooltip .dice-rolls .roll.min {
  color: #000;
  filter: none;
}

.dice-tooltip .dice-rolls .roll.max {
  color: #000;
  filter: none;
}
