<div class="tab active" data-tab="general">
    <div id="dice-configuration-canvas" style="width: 500px; height: 245px"></div>
    <form autocomplete="off" class="dice-so-nice">

        <div class="form-group">
            <label>{{localize "AEDICES.enable"}}</label>
            <input type="checkbox" name="enabled" data-dtype="Boolean" {{checked enabled}}/>
        </div>

    </form>

</div>